.login-student-id-field,
.login-password-field,
.login-kapcha-field {
    font-size: 30px;
    font-weight: bold;
}

.login-button {
    margin: 10
}

.login-kapcha-image {
    margin: auto;
}

.login-card {
    padding: 20px;
    align-items: center
}

.login-div {
    vertical-align: middle;
    align-content: center;
    align-self: center;
    margin: auto;
}