body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.flatpickr-input {
  padding: 10px;
}

code {
    overflow-x: auto;
    padding: 0 4px;
    border: 1px solid rgba(192,201,200,.4);
    background-color: rgba(192,201,200,.2);
    border-radius: 2px;
    font-size: .875em;
    word-wrap: break-word
}